<p id="notice"><%= notice %></p>

<p>
  <strong>Move:</strong>
  <%= @result.move_id %>
</p>

<p>
  <strong>Repetitions:</strong>
  <%= @result.repetitions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @result.weight %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
