<%= form_for(@move_muscle) do |f| %>
  <% if @move_muscle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@move_muscle.errors.count, "error") %> prohibited this move_muscle from being saved:</h2>

      <ul>
      <% @move_muscle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :muscle_id %><br>
    <%= f.number_field :muscle_id %>
  </div>
  <div class="field">
    <%= f.label :move_id %><br>
    <%= f.number_field :move_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
