<p id="notice"><%= notice %></p>

<h2><%= @goal.name %></h2>

<p>
  <strong>Value:</strong>
  <%= @goal.value %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @goal.unit %>
</p>

<p>
  <strong>Goal set:</strong>
  <%= @goal.created_at %>
</p>

<p>
  <strong>Achieved:</strong>
  <% if not @goal.achieved %>
    <%= '-' %>
  <% else %>
    <%= @goal.updated_at %>
  <% end %>
</p>

<%= link_to 'Delete goal', @goal, method: :delete %> |
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
