<%= form_for(@user_workout_move) do |f| %>
  <% if @user_workout_move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_workout_move.errors.count, "error") %> prohibited this user_workout_move from being saved:</h2>

      <ul>
      <% @user_workout_move.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userworkout_id %><br>
    <%= f.number_field :userworkout_id %>
  </div>
  <div class="field">
    <%= f.label :move_id %><br>
    <%= f.number_field :move_id %>
  </div>
  <div class="field">
    <%= f.label :repetitions %><br>
    <%= f.number_field :repetitions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
