<!DOCTYPE html>
<html>
<head>
  <title>Treeniapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navi">
    <%= link_to 'people', people_path %>
    <%= link_to 'workouts', workouts_path %>
    <%= link_to 'goals', goals_path %>
  </div>

<%= yield %>

</body>
</html>
