<!DOCTYPE html>
<html>
<head>
  <title>Treeniapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navi">
    <%= link_to 'users', users_path %>
    <%= link_to 'workouts', workouts_path %>
    <%= link_to 'goals', goals_path %> |
    <% if not session[:user_id].nil? %>
      <%= link_to current_user.username, user_path(current_user.id) %>
      <%= link_to 'signout', signout_path, method: :delete %>
    <% else %>
      <%= link_to 'signin', signin_path %>
      <%= link_to 'signup', new_user_path %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
